.todo-creation-cell {
  display: flex;
  flex-direction: row;
  height: 110px;
  vertical-align: top;
}

.input-cell {
  display: inline-block;
  width: 430px;
  max-width: 430px;
  height: 110px;
  padding: 25px 10px 25px 15px;
  box-sizing: border-box;
}

.input-cell > app-input {
  width: 100%;
}

.dropdown-cell {
  display: inline-block;
  width: 130px;
  max-width: 130px;
  height: 110px;
  padding: 25px 10px 25px 10px;
  box-sizing: border-box;
}

.button-cell {
  display: inline-block;
  width: 120px;
  max-width: 120px;
  height: 110px;
  padding: 50px 15px 25px 10px;
  box-sizing: border-box;
}
