.add-todo {
  min-height: 40px;
  width: 100%;
  outline: 0;
  border: 0px solid;
  border-radius: 5px;
  box-shadow: var(--shadow-props);
}

.add-todo.deselected {
  background-color: #f2f2f2;
  border: var(--border-props);
  cursor: pointer;
}

.add-todo.selected {
  background-color: #7c3aed;
  color: #fff;
  cursor: pointer;
}
